<!DOCTYPE html>
<html>
  <head>
    <title>Get That Job Info Staffing</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    
  </head>
  <body style="background-image:url('/images/company_logos/staffing.jpeg'); background-repeat:no-repeat">


