<% include header.ejs %>
<form action="http://www.getthatjob.info/signups/save" method="get">

 First name: <input type="text" name="first_name"><br>
 Middle Initial: <input type="text" name="middle_initial"><br>
 Last name: <input type="text" name="last_name"><br>
 Username: <input type="text" name="username"><br>
 Email: <input type="text" name="email"><br>
 Address: <input type="text" name="address"><br>
 City: <input type="text" name="city"><br>
 State: <input type="text" name="state"><br>
 Zip: <input type="text" name="zip"><br>
 Gender: <input type="text" name="gender"><br>
 Date of Birth:<br>
 Month:  <input type="text" name="month"><br>
 Day: <input type="text" name="day"><br>
 Year:  <input type="text" name="year"><br>
Sign Up For Free Games at <a href="http://revadstrk.com/?a=1108&oc=633&c=233&s1=">GSN</a>:<input type="checkbox" name="GSN" checked="checked">
  <input type="submit" value="Submit">


</form>

<% include footer.ejs %>